<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Produits
    </ion-title>
     <ion-button slot="end" (click)="click()" expand="full" fill="clear">
     <ion-icon name="person-circle-outline"></ion-icon>
    </ion-button>
     <ion-button slot="end" (click)="logout()" expand="full" fill="clear">
       <ion-icon name="log-out-outline"></ion-icon>
     </ion-button>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-list>
	<ion-item *ngFor="let item of data">
  <ion-thumbnail slot="start">
        <img src="{{item.thumbnail}}" />
      </ion-thumbnail>
	  <ion-label>
	    <h2>{{ item.title }}</h2>
      <span>{{item.brand}}</span>
      <p>{{item.price}} €</p>
	  </ion-label>
	</ion-item>
</ion-list>
</ion-content>