ion-title{
    text-align: center;
}

ion-content {
       --ion-background-color: black;
}

:root {
  /** facebook **/
  --ion-color-facebook: #3b5999;
  --ion-color-facebook-rgb: 59, 89, 153;
  --ion-color-facebook-contrast: #ffffff;
  --ion-color-facebook-contrast-rgb: 255, 255, 255;
  --ion-color-facebook-shade: #324b81;
  --ion-color-facebook-tint: #476bb8;

}

.logo img{
  width: 100%;
}

.buttons{
  padding: 40px;
}