<div class="card">
  <div class="card-header">
    UTILISATEURS
  </div>
  <div class="card-body">
    <blockquote class="blockquote mb-0">
      <li class="list-group-item"><a [routerLink]="['user']">Liste</a></li>
    <li class="list-group-item"><a [routerLink]="['user/add']">Ajouter</a></li>
    </blockquote>
  </div>
</div>

<div class="card">
  <div class="card-header">
    PRODUITS
  </div>
  <div class="card-body">
    <blockquote class="blockquote mb-0">
    <li class="list-group-item"><a [routerLink]="['produit']">Liste</a></li>
    <li class="list-group-item"><a [routerLink]="['produit/add']">Ajouter</a></li>
    </blockquote>
  </div>
</div>
